body{
    overflow: hidden;
    background: linear-gradient(#f5f5f5, white);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 15px 15px 20px 20px;
    box-shadow: 0 2px 4px 0 #1f1e1e;
}

#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background-color: whitesmoke;
    text-align: right;
    font-size: 20px;
    direction: ltr;
    outline: none;
    border: none;
}

.btn{
    width: 24%;
    height: 55px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}

.btnEqual{
    width: 99.2%;
    height: 55px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}

.btn:hover, .btnEqual:hover{
    background-color: rgba(17,10,24,0.27);
}

@media(max-width: 480px) {
    .btn{
        width: 23.4%;
    }
}

@media(max-width: 320px) {
    .btn{
        width: 23%;
    }
}